header {
  width: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;
}

ul {
  display: flex;
}

ul,
li {
  list-style: none;
  margin: 10px 10px;
}

label,
input,
textarea {
  display: block;
}

input,
textarea {
  margin: 5px 0 10px 0;
}

label {
  font-weight: bold;
}
